{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Purchase</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  body {
  background-image: url("static/Reader.jpg");  
  background-size: cover;
  height: 100vh;
  color: white;
  }
  .notes,.assignment,.books{
    height: 50vh;
    overflow: hidden;
    text-decoration:none;
    color: white;
    
  }
  .notes:hover,.assignment:hover,.books:hover{
    height: 50vh;
    overflow:auto;
    text-decoration:none;
    color: white;
  }
  table{
    background: rgba(3, 3, 3, .5);
    
  }
  h1{
    text-shadow: 2px 2px 2px black;
  }  
 
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"><span>DNB</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link " href="user_home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"> purchase</a>
        </li>
      </ul>


    </div>
    <form class="form-inline my-2 my-lg-0" action="search" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search"  name="arch"aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <div class="container">
    {{key10}}{{key3}}
    <h1 class="text-light"style="text-shadow:2px 2px 2px black">
      PURCHASE 
    </h1>
    <h1 class="text-center">NOTES</h1>
    <div class="notes">
      
     <table class="table text-light table-striped ">
      <tr>
        <th>Username</th>
        <th>Account Type</th>
        <th>Subject</th>
        <th>Notes</th>
        
       
       <th>Rate</th>
        <th>Buy</th>
      </tr>
      {% for i in key %}
      <tr>
        <th>{{i.note_books.usersname}}</th>
        <td>
          <p>{{i.account}}</p>
        </td>      
        <td>
          {{i.subs}}
        </td> 
        
        <td>
          <p>{{i.pic}}</p>
        </td>
        
        
        <td>
          <p>&#8377;{{i.rate}}</p>
        </td>
        <th>
          <a href="{% url 'purchasee_note' i.id %}" >purchase</a>
        
        </th>

      </tr>

      {% endfor %}
    </table>
    </div>
    <h1 class="text-center">BOOKS</h1>
    <div class=" books">
      
      <table class="table text-light  table-striped ">
        <tr>
          <th>Username</th>
          <th>Account Type</th>
          <th>Subject</th>
          <th>Books</th>
          
          <th>Rate</th>
          <th>Buy</th>
        </tr>
      {% for i in key1 %}
      <tr>
        <th>{{i.brooks.usersname}}</th>
        <td>
          <p>{{i.account}}</p>
        </td>
        <td>
           {{i.subs}}</a>
        </td>
        <td>
          <p>{{i.pic}}</p>
        </td>
        
        <td>
          <p>&#8377;{{i.rate}}</p>
        </td>
        <th>
          <a href="{% url 'purchase_book' i.id %}">purchase</a>
          
        </th>
      </tr>
      {% endfor %}
    </table>
    </div>
    <h1 class="text-center">ASSIGNMENTS</h1>
    <div class="assignment">
     
      <table class="table text-light  table-striped ">
        <tr>
          <th>Username</th>
          <th>Assignment</th>
          <th>Subject</th>          
          <th>Account Type</th>
          <th>Rate</th>
          <th>Buy</th>
         
        </tr>
      {% for i in key2 %}
      <tr>
        <th>{{i.assignment.usersname}}</th>
        <td>
          <p>{{i.account}}</p>
        </td>
        <td>
           {{i.subs}}
        </td>
        <td>
          <p>{{i.pic}}</p>
        </td>
        
        <td>
          <p>&#8377;{{i.rate}}</p>
        </td>
        <th>
          <a href="{% url 'purchase_assigment' i.id %}">purchase</a>     
          
        </th>

      </tr>
      {% endfor %}
    </div>
  </table>
  
  </div>
  <br><br>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>